{{> navBar}}

<h1>Chat</h1>

<div class="messages" id="messagesLogs">
  {{#each messages}}
  <div>
    <h4>{{user}}:</h4>
    <p>{{message}}</p>
  </div>
  {{/each}}
</div>

<div class="inputMessage">
  <input type="text" id="chatBox" placeholder="Write a message">
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="js/chat.js"></script>