{{> navBar}}

<h1>Checkout</h1>
<div class="checkout">
    <p>Nombre: {{purchaseData.clientName}}</p>
    <p>Email: {{purchaseData.email}}</p>
    <p>Numero de ticket: {{purchaseData.numTicket}}</p>
</div>