<h1>Register</h1>

<form action="/api/user/register" method="POST" class="registerForm">
  <label for="firstName">First name:</label>
  <input type="text" name="first_name" id="firstName">

  <label for="lastName">Last name:</label>
  <input type="text" name="last_name" id="lastName">

  <label for="email">Email:</label>
  <input type="email" name="email" id="email">

  <label for="password">Password:</label>
  <input type="password" name="password" id="password">

  <label for="age">Age:</label>
  <input type="number" name="age" id="age">

  <button type="submit">Register</button>

  <p>or</p>
  <a href="/user/login">Login</a>
</form>