<ul class="navBar">
  <li><a href="/">Home</a></li>
  <li><a href="/realTimeProducts">Real Time Products</a></li>
  <li><a href="/chat">Chat</a></li>
  <li><a href="/cart/{{user.cartId}}">Cart</a></li>
</ul>

{{> user}}